.ecomm{
    text-align: start;
 
}
.landing-card{
    width:100vw;
    height:100vh;
    display : flex;
    justify-content: center;
    background-image: url("../Images/ecommerce.jpg");
     background-size: cover;

}
