
  .nav-card {
 
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
   background:black;
  
  }
  
  .ecomm {
    
    margin-right: 24px;
  }
  
  .logo {
    width: 50px;
    height: auto;
    margin-left:1em;
    margin-top:1.4rem;
  }
  
  .nav-l {
    list-style: none;
    display: flex;
  }
  
  .nav-l li {
    margin-right: 23px;
     font-size: 1.8rem;
     padding:.5rem;
     
  }
  
  
  .nav-l li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  .nav-l li a:hover{
   
    font-size: 2rem;
   color:blue;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-transform: uppercase;
  }
  
 
  @media only screen and (min-width: 480px) and (max-width: 768px)  {
    
.nav-card{
  width:830px;
   height:10vh
}
.nav-l li {
  margin-right: 18px;
   font-size: 1.8rem;
   padding:.2rem;
   
}
.logo {
  
  margin-top:1rem;
}
}

 
 
  
  
  
  