.prodcart1 {
  border: 2px solid black;
  color: blue;
  width: 20vw;
  height: 47vh;
  margin: 2rem;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.114);
  background-color:rgb(9, 229, 152);
}
.Product-section {
  background-color: whitesmoke;
}
.prodct6 {
  width: 20vw;
}
.pro5 {
  width: 20vw;
  height: 27vh;
}
.pro_cart5443 {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}
.pro_ct56 {
  font-size: 0.8rem;
  padding: 0rem 1rem;
}

.pryu2 {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}
.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.7rem;
}
.heading {
  text-align: center;
}
